{% load static %}
<!-- Footer Section Start -->
    <footer class="footer-area section-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="footer-text text-center wow fadeInDown" data-wow-delay="0.3s">
              <ul class="social-icon">

                <li>
                  <a class="twitter" href="{{ setting.twitter }}" target="_blank"><i class="icon-social-twitter"></i></a>
                </li>
                <li>
                  <a class="instagram" href="{{ setting.instagram }}" target="_blank"><i class="icon-social-instagram"></i></a>
                </li>
                <li>
                  <a class="linkedin" href="{{ setting.linkedin }}" target="_blank"><i class="icon-social-linkedin"></i></a>
                </li>
                  <li>
                  <a class="fa-github-square" href="{{ setting.github }}" target="_blank"><i class="icon-social-github"></i></a>
                </li>

              </ul>
              <p>{{ setting.copy_right }}</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer Section End -->